In [8]:
import pandas as pd

file_path = '/Users/gulserenbirim/Desktop/data_analyst_case_vertigo2025/000000000000.csv.gz' 
df = pd.read_csv(file_path, compression='gzip')

In [10]:
df.head()

,user_id,event_date,platform,install_date,country,total_session_count,total_session_duration,match_start_count,match_end_count,victory_count,defeat_count,server_connection_error,iap_revenue,ad_revenue
0,C6C0A027C49B98BA,2024-02-16,android,2024-02-11,NaN,1,57.721,0,0,0,0,0,0.0,0.0
1,EE03D492BC0ED08C,2024-03-08,ios,2024-02-01,NaN,0,0.355,0,0,0,0,0,0.0,0.0
2,5CAA4AF817354059,2024-03-12,ios,2024-03-12,NaN,1,114.006,0,0,0,0,0,0.0,0.0
3,EF0DE79217D56E72,2024-02-16,ios,2023-07-24,NaN,0,8.157,0,0,0,0,0,0.0,0.0
4,6DD3D1FC631486F0,2024-03-02,android,2024-03-01,NaN,1,233.265,1,0,0,0,0,0.0,0.0

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429296 entries, 0 to 429295
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   user_id                  429296 non-null  object
 1   event_date               429296 non-null  object
 2   platform                 429296 non-null  object
 3   install_date             429296 non-null  object
 4   country                  428182 non-null  object
 5   total_session_count      429296 non-null  int64
 6   total_session_duration   429296 non-null  float64
 7   match_start_count        429296 non-null  int64
 8   match_end_count          429296 non-null  int64
 9   victory_count            429296 non-null  int64
 10  defeat_count             429296 non-null  int64
 11  server_connection_error  429296 non-null  int64
 12  iap_revenue              429296 non-null  float64
 13  ad_revenue               429296 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 45.9+ MB
None

In [14]:
print(df.describe())

       total_session_count  total_session_duration  match_start_count  \
count        429296.000000           429296.000000      429296.000000
mean              1.734954             1840.506369           4.713920
std               1.295263             3166.819900           8.136369
min               0.000000                0.000000           0.000000
25%               1.000000              216.955500           1.000000
50%               1.000000              704.134000           2.000000
75%               2.000000             2035.768250           5.000000
max              18.000000            77271.526000         405.000000

       match_end_count  victory_count   defeat_count  server_connection_error  \
count    429296.000000  429296.000000  429296.000000            429296.000000
mean          3.900917       2.427239       1.473678                 0.033359
std           6.974711       4.943075       3.091032                 0.403929
min           0.000000       0.000000       0.000000                 0.000000
25%           0.000000       0.000000       0.000000                 0.000000
50%           2.000000       1.000000       0.000000                 0.000000
75%           5.000000       3.000000       1.000000                 0.000000
max         196.000000     196.000000     112.000000                58.000000

         iap_revenue     ad_revenue
count  429296.000000  429296.000000
mean        0.122288       0.020166
std         3.826773       0.091250
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         0.000000       0.011379
max      1063.984570      12.461797

In [16]:
import pandas as pd
import glob
import os

desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")

# Dosyaları ara
files = glob.glob(os.path.join(desktop_path, "*.csv.gz"))

print(f"Bulunan dosya sayısı: {len(files)}")
if len(files) > 0:
    print("İlk dosya yolu:", files[0])
else:
    print("HATA: Hiç dosya bulunamadı! Lütfen dosyaların masaüstünde ve .csv.gz uzantılı olduğundan emin ol.")

Bulunan dosya sayısı: 0
HATA: Hiç dosya bulunamadı! Lütfen dosyaların masaüstünde ve .csv.gz uzantılı olduğundan emin ol.

In [18]:

print(f"Toplam Satır Sayısı: {df.shape[0]:,}")
print(f"Toplam Kolon Sayısı: {df.shape[1]}")

Toplam Satır Sayısı: 429,296
Toplam Kolon Sayısı: 14

In [20]:
# Kolon isimleri
print("Kolon İsimleri:", df.columns.tolist())

# Her kolonun veri tipine ve eksik (null) değer olup olmadığı
print(df.info())

Kolon İsimleri: ['user_id', 'event_date', 'platform', 'install_date', 'country', 'total_session_count', 'total_session_duration', 'match_start_count', 'match_end_count', 'victory_count', 'defeat_count', 'server_connection_error', 'iap_revenue', 'ad_revenue']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429296 entries, 0 to 429295
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   user_id                  429296 non-null  object
 1   event_date               429296 non-null  object
 2   platform                 429296 non-null  object
 3   install_date             429296 non-null  object
 4   country                  428182 non-null  object
 5   total_session_count      429296 non-null  int64
 6   total_session_duration   429296 non-null  float64
 7   match_start_count        429296 non-null  int64
 8   match_end_count          429296 non-null  int64
 9   victory_count            429296 non-null  int64
 10  defeat_count             429296 non-null  int64
 11  server_connection_error  429296 non-null  int64
 12  iap_revenue              429296 non-null  float64
 13  ad_revenue               429296 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 45.9+ MB
None

In [22]:
# Rastgele 1 kullanıcının verilerini getir
random_user = df['user_id'].sample(1).values[0]
print(f"\nSeçilen Kullanıcı ({random_user}) Verileri:")
print(df[df['user_id'] == random_user].sort_values('event_date'))

Seçilen Kullanıcı (CFA67DD1C24EEE1) Verileri:
                user_id  event_date platform install_date      country  \
374551  CFA67DD1C24EEE1  2024-02-28  android   2024-02-11  Philippines

        total_session_count  total_session_duration  match_start_count  \
374551                    7                9341.458                 26

        match_end_count  victory_count  defeat_count  server_connection_error  \
374551               25             10            15                        0

        iap_revenue  ad_revenue
374551     4.806451         0.0

In [24]:
# 1. Aynı kullanıcı aynı gün için mükerrer kaydedilmişse sil
df = df.drop_duplicates()

# 2. Kritik sayısal kolonlardaki NaN (boş) değerleri 0 ile doldur
fill_cols = ['total_session_duration', 'victory_count', 'defeat_count', 'iap_revenue', 'ad_revenue']
df[fill_cols] = df[fill_cols].fillna(0)

print(f"Temizlik sonrası satır sayısı: {len(df)}")

Temizlik sonrası satır sayısı: 429296

In [26]:
# Sadece mantıklı sınırlar içindeki veriyi alalım (Örn: 12 saatten fazla oynamayanlar)
# 12 saat = 43.200 saniye
df_clean = df[df['total_session_duration'] < 43200].copy()

# Gelir tarafında da negatif değer varsa temizleyelim
df_clean = df_clean[(df_clean['iap_revenue'] >= 0) & (df_clean['ad_revenue'] >= 0)]

In [28]:
# Kullanıcı başına özet tablo çıkaralım (Bu daha sağlıklı sonuç verir)
user_summary = df_clean.groupby('user_id').agg({
    'total_session_duration': 'sum',
    'victory_count': 'sum',
    'defeat_count': 'sum',
    'iap_revenue': 'sum'
}).reset_index()

# Kazanma Oranı (Win Rate) hesapla
user_summary['win_rate'] = user_summary['victory_count'] / (user_summary['victory_count'] + user_summary['defeat_count'])
# Win rate NaN olanları (hiç maç yapmayanlar) temizle
user_summary = user_summary.dropna(subset=['win_rate'])